*{margin: 0px; padding: 0px;}
body{font-family: 'Verdana'; font-size: 16px;
    color:black; line-height: 28px;}
a{text-decoration: none;}

.inner_box{
    position:relative;
    margin:0 auto;
    overflow: hidden;
}

header{
    width: 100%;
    background-color: rgba(255,255,255, 0.679);
    position : fixed;z-index: 10;
    border-bottom: 1px solid;
}
header>.inner_box{
    width: 1180px;height: 120px;
}
.inner_box> h1{
    float:left;
    position: absolute;
    bottom: 15px;
    left: 10px;
}
h1>a{
    color: black;
}
ul{
    position: absolute;
    float: right;
    font-size: 12px;
}
li{
    list-style: none;
    float: left;
}
ul.util{
    top:20px;
    right: 30px;
}
.util>li{
    padding-left: 25px;
}
.util>li>a{
    color:rgba(0, 0, 0, 0.4);   
}

ul.glb{
    font-size: 18px;
    right: 0px;
    bottom: 0px;
}

.glb>li{
    padding-right: 30px;
    padding-left: 30px;
}
.glb>li>a{
    color:rgba(0, 0, 0, 0.582);   
    font-weight: bold;
}
.glb>li>a:hover{
    color:rgba(126, 172, 58, 0.882); 
}

section{
    position:relative;
    width: 1000px;
    top:130px;
    margin: 0 auto;
}
article{
    float: left;
    margin-top:5px;
    margin-bottom:5px;
    color:white;
    font-weight: bolder;
    position:relative;
}

.article_p{
    position:absolute;
    font-size:20px;
}

.article1{
    width: 700px; height: 400px;
    margin-right:5px;
    background-image: url("Resource 1-03/700x400.png");
}

.article1 >.article_p{
    right: 10px;
    bottom:10px;
    font-size: 30px;
}

.article2{
    width:290px; height: 190px;
    margin-left: 5px;
    background-image: url("Resource 1-03/290x190.png");
}

.article2 p{
    top:50px;
    left:10px;
}

.article3{
    width: 290px; height:95px;
    margin-left: 5px;
    background-image: url("Resource 1-03/290x95-1.png");
}
.article3 p{
    right: 10px;
    bottom: 20px;;
}

.article3_2{
    background-image: url("Resource 1-03/290x95-2.png");
}

.article4{
    width: 490px; height: 490px;
    margin-top:0px;
    margin-right: 5px;
}

.article4_1{
    width: 490px; height: 240px;
    background-image: url("Resource 1-03/490x240-1.png");
}

.article4_2{
    width: 490px; height: 240px;
    background-image: url("Resource 1-03/490x240-2.png");
    font-weight:lighter;
}
.article4_1>p{
    color: black;
    width: 300px;
    font-size: 16px;line-height: 20px;
    font-weight: 500;
    
    margin: 160px auto;
}
.article4_2>.article_p{
    color:gold;
    font-size: 30px;
    font-weight: bold;
    right: 20px;
    bottom:30px;
}

.article5{
    width: 500px; height:490px;
    margin-left: 5px;
}

.article6{
    width: 1000px; height:371px;
    background-image: url("Resource 1-03/1000x371.png");
}
.article6 p{
    color: white;
    margin: 160px auto;
    width: 700px;
    font-size: 50px;
    text-shadow: 2px 2px 2px black;
}

.article7{
    width: 1000px; height:361px;
    background-image: url("Resource 1-03/1000x361.png");
    background-repeat: no-repeat;
    padding-bottom: 50px;
}
.article7 .inner_box{
    width: 450px; height: 150px;
    color: white;
    position:absolute;
    bottom: 30px;
    right: 40px;
    line-height: 50px;
}

.article7 div p{
    font-size: 30px;
    display: inline-block;
}
.article7 div .pp{
    font-size: 20px;
    font-weight:normal;
}